<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>character3/die</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/die/00.png</string>
				<string>characters/character3/die/01.png</string>
				<string>characters/character3/die/02.png</string>
				<string>characters/character3/die/03.png</string>
				<string>characters/character3/die/04.png</string>
				<string>characters/character3/die/05.png</string>
				<string>characters/character3/die/06.png</string>
				<string>characters/character3/die/07.png</string>
				<string>characters/character3/die/08.png</string>
				<string>characters/character3/die/09.png</string>
			</array>
		</dict>
		<key>character3/squat</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/squat/00.png</string>
			</array>
		</dict>
		<key>character3/squat_down</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/squat_down/00.png</string>
				<string>characters/character3/squat_down/01.png</string>
				<string>characters/character3/squat_down/02.png</string>
				<string>characters/character3/squat_down/03.png</string>
				<string>characters/character3/squat_down/04.png</string>
			</array>
		</dict>
		<key>character3/squat_hit</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/squat_hit/00.png</string>
				<string>characters/character3/squat_hit/01.png</string>
			</array>
		</dict>
		<key>character3/squat_kick1</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/squat_kick1/00.png</string>
				<string>characters/character3/squat_kick1/01.png</string>
				<string>characters/character3/squat_kick1/02.png</string>
				<string>characters/character3/squat_kick1/03.png</string>
				<string>characters/character3/squat_kick1/04.png</string>
				<string>characters/character3/squat_kick1/05.png</string>
				<string>characters/character3/squat_kick1/06.png</string>
			</array>
		</dict>
		<key>character3/squat_kick2</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/squat_kick2/00.png</string>
				<string>characters/character3/squat_kick2/01.png</string>
				<string>characters/character3/squat_kick2/02.png</string>
				<string>characters/character3/squat_kick2/03.png</string>
				<string>characters/character3/squat_kick2/04.png</string>
				<string>characters/character3/squat_kick2/05.png</string>
				<string>characters/character3/squat_kick2/06.png</string>
				<string>characters/character3/squat_kick2/07.png</string>
				<string>characters/character3/squat_kick2/08.png</string>
				<string>characters/character3/squat_kick2/09.png</string>
			</array>
		</dict>
		<key>character3/squat_moveback</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/squat_moveback/00.png</string>
				<string>characters/character3/squat_moveback/01.png</string>
				<string>characters/character3/squat_moveback/02.png</string>
				<string>characters/character3/squat_moveback/03.png</string>
				<string>characters/character3/squat_moveback/04.png</string>
				<string>characters/character3/squat_moveback/05.png</string>
				<string>characters/character3/squat_moveback/06.png</string>
				<string>characters/character3/squat_moveback/07.png</string>
				<string>characters/character3/squat_moveback/08.png</string>
				<string>characters/character3/squat_moveback/09.png</string>
			</array>
		</dict>
		<key>character3/squat_moveforward</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/squat_moveback/09.png</string>
				<string>characters/character3/squat_moveback/08.png</string>
				<string>characters/character3/squat_moveback/07.png</string>
				<string>characters/character3/squat_moveback/06.png</string>
				<string>characters/character3/squat_moveback/05.png</string>
				<string>characters/character3/squat_moveback/04.png</string>
				<string>characters/character3/squat_moveback/03.png</string>
				<string>characters/character3/squat_moveback/02.png</string>
				<string>characters/character3/squat_moveback/01.png</string>
				<string>characters/character3/squat_moveback/00.png</string>
			</array>
		</dict>
		<key>character3/squat_punch1</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/squat_punch1/00.png</string>
				<string>characters/character3/squat_punch1/01.png</string>
				<string>characters/character3/squat_punch1/02.png</string>
				<string>characters/character3/squat_punch1/03.png</string>
				<string>characters/character3/squat_punch1/04.png</string>
				<string>characters/character3/squat_punch1/05.png</string>
			</array>
		</dict>
		<key>character3/squat_punch2</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/squat_punch2/00.png</string>
				<string>characters/character3/squat_punch2/01.png</string>
				<string>characters/character3/squat_punch2/02.png</string>
				<string>characters/character3/squat_punch2/03.png</string>
				<string>characters/character3/squat_punch2/04.png</string>
				<string>characters/character3/squat_punch2/05.png</string>
				<string>characters/character3/squat_punch2/06.png</string>
				<string>characters/character3/squat_punch2/07.png</string>
				<string>characters/character3/squat_punch2/08.png</string>
			</array>
		</dict>
		<key>character3/squat_up</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/squat_up/00.png</string>
				<string>characters/character3/squat_up/01.png</string>
				<string>characters/character3/squat_up/02.png</string>
				<string>characters/character3/squat_up/03.png</string>
				<string>characters/character3/squat_up/04.png</string>
			</array>
		</dict>
		<key>character3/stand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/stand/00.png</string>
				<string>characters/character3/stand/01.png</string>
				<string>characters/character3/stand/02.png</string>
				<string>characters/character3/stand/03.png</string>
				<string>characters/character3/stand/04.png</string>
				<string>characters/character3/stand/05.png</string>
				<string>characters/character3/stand/06.png</string>
				<string>characters/character3/stand/07.png</string>
				<string>characters/character3/stand/08.png</string>
			</array>
		</dict>
		<key>character3/stand_hit</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/stand_hit/00.png</string>
				<string>characters/character3/stand_hit/01.png</string>
				<string>characters/character3/stand_hit/02.png</string>
				<string>characters/character3/stand_hit/03.png</string>
			</array>
		</dict>
		<key>character3/stand_jump</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/stand_jump/00.png</string>
				<string>characters/character3/stand_jump/01.png</string>
				<string>characters/character3/stand_jump/02.png</string>
				<string>characters/character3/stand_jump/03.png</string>
				<string>characters/character3/stand_jump/04.png</string>
				<string>characters/character3/stand_jump/05.png</string>
				<string>characters/character3/stand_jump/06.png</string>
				<string>characters/character3/stand_jump/07.png</string>
				<string>characters/character3/stand_jump/08.png</string>
			</array>
		</dict>
		<key>character3/stand_kick1</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/stand_kick1/00.png</string>
				<string>characters/character3/stand_kick1/01.png</string>
				<string>characters/character3/stand_kick1/02.png</string>
				<string>characters/character3/stand_kick1/03.png</string>
				<string>characters/character3/stand_kick1/04.png</string>
				<string>characters/character3/stand_kick1/05.png</string>
			</array>
		</dict>
		<key>character3/stand_kick2</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/stand_kick2/00.png</string>
				<string>characters/character3/stand_kick2/01.png</string>
				<string>characters/character3/stand_kick2/02.png</string>
				<string>characters/character3/stand_kick2/03.png</string>
				<string>characters/character3/stand_kick2/04.png</string>
				<string>characters/character3/stand_kick2/05.png</string>
				<string>characters/character3/stand_kick2/06.png</string>
				<string>characters/character3/stand_kick2/07.png</string>
				<string>characters/character3/stand_kick2/08.png</string>
				<string>characters/character3/stand_kick2/09.png</string>
			</array>
		</dict>
		<key>character3/stand_moveback</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/stand_moveback/00.png</string>
				<string>characters/character3/stand_moveback/01.png</string>
				<string>characters/character3/stand_moveback/02.png</string>
				<string>characters/character3/stand_moveback/03.png</string>
				<string>characters/character3/stand_moveback/04.png</string>
				<string>characters/character3/stand_moveback/05.png</string>
				<string>characters/character3/stand_moveback/06.png</string>
				<string>characters/character3/stand_moveback/07.png</string>
				<string>characters/character3/stand_moveback/08.png</string>
			</array>
		</dict>
		<key>character3/stand_moveforward</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/stand_moveforward/00.png</string>
				<string>characters/character3/stand_moveforward/01.png</string>
				<string>characters/character3/stand_moveforward/02.png</string>
				<string>characters/character3/stand_moveforward/03.png</string>
				<string>characters/character3/stand_moveforward/04.png</string>
				<string>characters/character3/stand_moveforward/05.png</string>
				<string>characters/character3/stand_moveforward/06.png</string>
				<string>characters/character3/stand_moveforward/07.png</string>
				<string>characters/character3/stand_moveforward/08.png</string>
				<string>characters/character3/stand_moveforward/09.png</string>
			</array>
		</dict>
		<key>character3/stand_punch1</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/stand_punch1/00.png</string>
				<string>characters/character3/stand_punch1/01.png</string>
				<string>characters/character3/stand_punch1/02.png</string>
				<string>characters/character3/stand_punch1/03.png</string>
				<string>characters/character3/stand_punch1/04.png</string>
			</array>
		</dict>
		<key>character3/stand_punch2</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/stand_punch2/00.png</string>
				<string>characters/character3/stand_punch2/01.png</string>
				<string>characters/character3/stand_punch2/02.png</string>
				<string>characters/character3/stand_punch2/03.png</string>
				<string>characters/character3/stand_punch2/04.png</string>
				<string>characters/character3/stand_punch2/05.png</string>
				<string>characters/character3/stand_punch2/06.png</string>
				<string>characters/character3/stand_punch2/07.png</string>
				<string>characters/character3/stand_punch2/08.png</string>
			</array>
		</dict>
		<key>character3/start</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/start/00.png</string>
				<string>characters/character3/start/01.png</string>
				<string>characters/character3/start/02.png</string>
				<string>characters/character3/start/03.png</string>
				<string>characters/character3/start/04.png</string>
				<string>characters/character3/start/05.png</string>
				<string>characters/character3/start/06.png</string>
			</array>
		</dict>
		<key>character3/win</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character3/win/00.png</string>
				<string>characters/character3/win/01.png</string>
				<string>characters/character3/win/02.png</string>
				<string>characters/character3/win/03.png</string>
				<string>characters/character3/win/04.png</string>
				<string>characters/character3/win/05.png</string>
				<string>characters/character3/win/06.png</string>
				<string>characters/character3/win/07.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
