<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
  PUBLIC '-//Apple//DTD PLIST 1.0//EN'
  'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version="1.0">
    <dict>
        <key>animations</key>
        <dict>
            <key>jump</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>charactors/charactor1/Animation/jump/00.png</string>
                    <string>charactors/charactor1/Animation/jump/01.png</string>
                    <string>charactors/charactor1/Animation/jump/02.png</string>
                    <string>charactors/charactor1/Animation/jump/03.png</string>
                    <string>charactors/charactor1/Animation/jump/04.png</string>
                    <string>charactors/charactor1/Animation/jump/05.png</string>
                    <string>charactors/charactor1/Animation/jump/06.png</string>
                    <string>charactors/charactor1/Animation/jump/07.png</string>
                    <string>charactors/charactor1/Animation/jump/08.png</string>
                </array>
            </dict>
            <key>kick1</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>charactors/charactor1/Animation/kick1/00.png</string>
                    <string>charactors/charactor1/Animation/kick1/01.png</string>
                    <string>charactors/charactor1/Animation/kick1/02.png</string>
                    <string>charactors/charactor1/Animation/kick1/03.png</string>
                    <string>charactors/charactor1/Animation/kick1/04.png</string>
                    <string>charactors/charactor1/Animation/kick1/05.png</string>
                </array>
            </dict>
            <key>kick2</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>charactors/charactor1/Animation/kick2/00.png</string>
                    <string>charactors/charactor1/Animation/kick2/01.png</string>
                    <string>charactors/charactor1/Animation/kick2/02.png</string>
                    <string>charactors/charactor1/Animation/kick2/03.png</string>
                    <string>charactors/charactor1/Animation/kick2/04.png</string>
                    <string>charactors/charactor1/Animation/kick2/05.png</string>
                    <string>charactors/charactor1/Animation/kick2/06.png</string>
                    <string>charactors/charactor1/Animation/kick2/07.png</string>
                    <string>charactors/charactor1/Animation/kick2/08.png</string>
                    <string>charactors/charactor1/Animation/kick2/09.png</string>
                    <string>charactors/charactor1/Animation/kick2/10.png</string>
                </array>
            </dict>
            <key>moveback</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>charactors/charactor1/Animation/moveback/00.png</string>
                    <string>charactors/charactor1/Animation/moveback/01.png</string>
                    <string>charactors/charactor1/Animation/moveback/02.png</string>
                    <string>charactors/charactor1/Animation/moveback/03.png</string>
                    <string>charactors/charactor1/Animation/moveback/04.png</string>
                    <string>charactors/charactor1/Animation/moveback/05.png</string>
                    <string>charactors/charactor1/Animation/moveback/06.png</string>
                </array>
            </dict>
            <key>movefoward</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>charactors/charactor1/Animation/movefoward/00.png</string>
                    <string>charactors/charactor1/Animation/movefoward/01.png</string>
                    <string>charactors/charactor1/Animation/movefoward/02.png</string>
                </array>
            </dict>
            <key>punch1</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>charactors/charactor1/Animation/punch1/00.png</string>
                    <string>charactors/charactor1/Animation/punch1/01.png</string>
                    <string>charactors/charactor1/Animation/punch1/02.png</string>
                    <string>charactors/charactor1/Animation/punch1/03.png</string>
                    <string>charactors/charactor1/Animation/punch1/04.png</string>
                </array>
            </dict>
            <key>punch2</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>charactors/charactor1/Animation/punch2/00.png</string>
                    <string>charactors/charactor1/Animation/punch2/01.png</string>
                    <string>charactors/charactor1/Animation/punch2/02.png</string>
                    <string>charactors/charactor1/Animation/punch2/03.png</string>
                    <string>charactors/charactor1/Animation/punch2/04.png</string>
                    <string>charactors/charactor1/Animation/punch2/05.png</string>
                    <string>charactors/charactor1/Animation/punch2/06.png</string>
                    <string>charactors/charactor1/Animation/punch2/07.png</string>
                </array>
            </dict>
            <key>squart1</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>charactors/charactor1/Animation/squart/squart1/00.png</string>
                    <string>charactors/charactor1/Animation/squart/squart1/01.png</string>
                </array>
            </dict>
            <key>squart2</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>charactors/charactor1/Animation/squart/squart2/00.png</string>
                    <string>charactors/charactor1/Animation/squart/squart2/01.png</string>
                </array>
            </dict>
            <key>stand</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>charactors/charactor1/Animation/stand/00.png</string>
                    <string>charactors/charactor1/Animation/stand/01.png</string>
                    <string>charactors/charactor1/Animation/stand/02.png</string>
                    <string>charactors/charactor1/Animation/stand/03.png</string>
                    <string>charactors/charactor1/Animation/stand/04.png</string>
                    <string>charactors/charactor1/Animation/stand/05.png</string>
                    <string>charactors/charactor1/Animation/stand/06.png</string>
                    <string>charactors/charactor1/Animation/stand/07.png</string>
                    <string>charactors/charactor1/Animation/stand/08.png</string>
                    <string>charactors/charactor1/Animation/stand/09.png</string>
                </array>
            </dict>
            <key>win</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>charactors/charactor1/Animation/win/00.png</string>
                    <string>charactors/charactor1/Animation/win/01.png</string>
                    <string>charactors/charactor1/Animation/win/02.png</string>
                    <string>charactors/charactor1/Animation/win/03.png</string>
                    <string>charactors/charactor1/Animation/win/04.png</string>
                    <string>charactors/charactor1/Animation/win/05.png</string>
                    <string>charactors/charactor1/Animation/win/06.png</string>
                    <string>charactors/charactor1/Animation/win/07.png</string>
                    <string>charactors/charactor1/Animation/win/08.png</string>
                    <string>charactors/charactor1/Animation/win/09.png</string>
                    <string>charactors/charactor1/Animation/win/10.png</string>
                    <string>charactors/charactor1/Animation/win/11.png</string>
                    <string>charactors/charactor1/Animation/win/12.png</string>
                </array>
            </dict>
        </dict>
    </dict>
</plist>