<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Charactors/charactor1/Animation/die/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,480},{64,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,104}</string>
			</dict>
			<key>Charactors/charactor1/Animation/die/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,425},{57,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,93}</string>
			</dict>
			<key>Charactors/charactor1/Animation/die/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,460},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>Charactors/charactor1/Animation/die/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,959},{61,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,79}</string>
			</dict>
			<key>Charactors/charactor1/Animation/die/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,538},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>Charactors/charactor1/Animation/die/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,782},{61,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,80}</string>
			</dict>
			<key>Charactors/charactor1/Animation/die/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,700},{63,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,82}</string>
			</dict>
			<key>Charactors/charactor1/Animation/die/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,495},{94,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,60}</string>
			</dict>
			<key>Charactors/charactor1/Animation/die/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,589},{111,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,49}</string>
			</dict>
			<key>Charactors/charactor1/Animation/die/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,311},{138,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,28}</string>
			</dict>
			<key>Charactors/charactor1/Animation/jump/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,325},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>Charactors/charactor1/Animation/jump/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,0},{46,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,139}</string>
			</dict>
			<key>Charactors/charactor1/Animation/jump/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,311},{50,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,111}</string>
			</dict>
			<key>Charactors/charactor1/Animation/jump/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,452},{61,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,86}</string>
			</dict>
			<key>Charactors/charactor1/Animation/jump/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,383},{69,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,78}</string>
			</dict>
			<key>Charactors/charactor1/Animation/jump/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,500},{61,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,86}</string>
			</dict>
			<key>Charactors/charactor1/Animation/jump/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,531},{50,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,111}</string>
			</dict>
			<key>Charactors/charactor1/Animation/jump/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,139},{46,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,139}</string>
			</dict>
			<key>Charactors/charactor1/Animation/jump/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,348},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick1/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,386},{54,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,109}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick1/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{93,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick1/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,422},{54,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,109}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick1/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,492},{57,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,109}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick1/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,278},{58,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick1/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,311},{57,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,109}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick2/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,242},{70,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,110}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick2/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,162},{74,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick2/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,97},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick2/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,262},{73,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,111}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick2/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,93},{89,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick2/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,180},{82,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,109}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick2/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,93},{87,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,110}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick2/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,94},{87,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,109}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick2/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,177},{82,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick2/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,419},{73,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,110}</string>
			</dict>
			<key>Charactors/charactor1/Animation/kick2/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,236},{73,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,109}</string>
			</dict>
			<key>Charactors/charactor1/Animation/moveback/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,341},{72,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,112}</string>
			</dict>
			<key>Charactors/charactor1/Animation/moveback/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{80,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,110}</string>
			</dict>
			<key>Charactors/charactor1/Animation/moveback/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,203},{82,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/moveback/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,0},{80,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/moveback/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,510},{72,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/moveback/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,256},{69,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,111}</string>
			</dict>
			<key>Charactors/charactor1/Animation/moveback/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,453},{71,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,113}</string>
			</dict>
			<key>Charactors/charactor1/Animation/movefoward/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,398},{72,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,112}</string>
			</dict>
			<key>Charactors/charactor1/Animation/movefoward/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,0},{80,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,110}</string>
			</dict>
			<key>Charactors/charactor1/Animation/movefoward/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{82,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch1/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,352},{66,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch1/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,311},{75,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch1/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,0},{93,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch1/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,0},{94,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch1/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,259},{82,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch2/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,399},{66,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch2/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,240},{71,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,104}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch2/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,277},{71,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,104}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch2/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{115,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,97}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch2/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,0},{113,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,97}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch2/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,0},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch2/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,335},{71,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,104}</string>
			</dict>
			<key>Charactors/charactor1/Animation/punch2/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,422},{66,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,108}</string>
			</dict>
			<key>Charactors/charactor1/Animation/squart/squart1/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,406},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>Charactors/charactor1/Animation/squart/squart1/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,537},{65,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,80}</string>
			</dict>
			<key>Charactors/charactor1/Animation/squart/squart2/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,617},{65,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,80}</string>
			</dict>
			<key>Charactors/charactor1/Animation/squart/squart2/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,309},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>Charactors/charactor1/Animation/stand/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,0},{82,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/stand/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,80},{82,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/stand/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,80},{80,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/stand/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,200},{77,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/stand/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,178},{78,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/stand/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,97},{81,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/stand/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,97},{83,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/stand/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,82},{80,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/stand/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,160},{80,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/stand/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,162},{80,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,107}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,420},{51,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,117}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,383},{44,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,117}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,586},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,635},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,758},{42,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,116}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,843},{42,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,116}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,309},{45,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,116}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,642},{43,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,116}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,843},{42,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,116}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,959},{42,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,116}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,697},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,697},{42,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,117}</string>
			</dict>
			<key>Charactors/charactor1/Animation/win/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,518},{43,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,117}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sprite.png</string>
			<key>realTextureFileName</key>
			<string>sprite.png</string>
			<key>size</key>
			<string>{1021,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>