<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Charactors/charactor6/Animation/die/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,313},{60,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,100}</string>
			</dict>
			<key>Charactors/charactor6/Animation/die/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,434},{65,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,96}</string>
			</dict>
			<key>Charactors/charactor6/Animation/die/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,646},{64,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,77}</string>
			</dict>
			<key>Charactors/charactor6/Animation/die/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,580},{66,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,81}</string>
			</dict>
			<key>Charactors/charactor6/Animation/die/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,718},{54,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,77}</string>
			</dict>
			<key>Charactors/charactor6/Animation/die/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,464},{52,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,75}</string>
			</dict>
			<key>Charactors/charactor6/Animation/die/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,506},{80,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,72}</string>
			</dict>
			<key>Charactors/charactor6/Animation/die/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,729},{54,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,76}</string>
			</dict>
			<key>Charactors/charactor6/Animation/die/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,521},{96,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,60}</string>
			</dict>
			<key>Charactors/charactor6/Animation/die/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,104},{127,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,28}</string>
			</dict>
			<key>Charactors/charactor6/Animation/jump/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,710},{48,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,71}</string>
			</dict>
			<key>Charactors/charactor6/Animation/jump/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,99},{28,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,133}</string>
			</dict>
			<key>Charactors/charactor6/Animation/jump/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,645},{54,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,84}</string>
			</dict>
			<key>Charactors/charactor6/Animation/jump/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,478},{75,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,52}</string>
			</dict>
			<key>Charactors/charactor6/Animation/jump/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,668},{48,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,73}</string>
			</dict>
			<key>Charactors/charactor6/Animation/jump/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,509},{78,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,48}</string>
			</dict>
			<key>Charactors/charactor6/Animation/jump/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,672},{58,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,75}</string>
			</dict>
			<key>Charactors/charactor6/Animation/jump/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,303},{58,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,143}</string>
			</dict>
			<key>Charactors/charactor6/Animation/jump/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,730},{48,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,71}</string>
			</dict>
			<key>Charactors/charactor6/Animation/jump/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,638},{80,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,63}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick1/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,330},{73,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,95}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick1/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,413},{65,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,103}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick1/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{122,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,113}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick1/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,0},{120,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,112}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick1/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,364},{62,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,103}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick1/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,0},{51,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,103}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick1/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,319},{71,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,95}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick2/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,391},{73,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,86}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick2/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,425},{74,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,81}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick2/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,597},{71,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,75}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick2/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,403},{75,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,81}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick2/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,0},{112,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,88}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick2/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,229},{103,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,84}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick2/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,414},{73,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,93}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick2/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,612},{60,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,86}</string>
			</dict>
			<key>Charactors/charactor6/Animation/kick2/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,431},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveback/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,545},{57,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,100}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveback/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,467},{61,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,101}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveback/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,232},{69,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,101}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveback/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,167},{71,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,101}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveback/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,446},{58,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,99}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveback/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,410},{61,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,99}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveforward/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,283},{84,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,102}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveforward/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,199},{84,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,104}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveforward/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,112},{87,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,103}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveforward/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{85,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,102}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveforward/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,367},{82,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,101}</string>
			</dict>
			<key>Charactors/charactor6/Animation/moveforward/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{88,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,100}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch1/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,516},{64,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,89}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch1/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{124,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,91}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch1/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,0},{123,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,81}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch1/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,548},{64,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,89}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch1/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,507},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch2/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,333},{68,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,98}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch2/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,82},{98,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,97}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch2/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,0},{123,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,99}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch2/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{104,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,119}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch2/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,475},{73,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,96}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch2/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,91},{88,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,105}</string>
			</dict>
			<key>Charactors/charactor6/Animation/punch2/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,179},{74,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,95}</string>
			</dict>
			<key>Charactors/charactor6/Animation/squart/squart1/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,499},{48,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,71}</string>
			</dict>
			<key>Charactors/charactor6/Animation/squart/squart1/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,586},{63,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,57}</string>
			</dict>
			<key>Charactors/charactor6/Animation/squart/squart2/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,499},{48,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,71}</string>
			</dict>
			<key>Charactors/charactor6/Animation/squart/squart2/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,617},{63,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,57}</string>
			</dict>
			<key>Charactors/charactor6/Animation/stand/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,179},{77,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,91}</string>
			</dict>
			<key>Charactors/charactor6/Animation/stand/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,314},{77,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,90}</string>
			</dict>
			<key>Charactors/charactor6/Animation/stand/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,326},{77,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,90}</string>
			</dict>
			<key>Charactors/charactor6/Animation/stand/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,253},{77,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,91}</string>
			</dict>
			<key>Charactors/charactor6/Animation/stand/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,249},{77,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,91}</string>
			</dict>
			<key>Charactors/charactor6/Animation/stand/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,288},{76,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,93}</string>
			</dict>
			<key>Charactors/charactor6/Animation/stand/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,173},{76,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,94}</string>
			</dict>
			<key>Charactors/charactor6/Animation/stand/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,238},{76,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,94}</string>
			</dict>
			<key>Charactors/charactor6/Animation/stand/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,195},{77,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,93}</string>
			</dict>
			<key>Charactors/charactor6/Animation/stand/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,256},{77,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,91}</string>
			</dict>
			<key>Charactors/charactor6/Animation/stand/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,333},{77,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,90}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,552},{65,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,86}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,364},{70,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,88},{79,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,102}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,81},{92,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,104}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,99},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,313},{95,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,90}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,449},{79,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,103}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,403},{72,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,114}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,104},{72,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,125}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,194},{72,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,125}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,103},{81,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,92}</string>
			</dict>
			<key>Charactors/charactor6/Animation/win/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,0},{82,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,125}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sprite.png</string>
			<key>realTextureFileName</key>
			<string>sprite.png</string>
			<key>size</key>
			<string>{1020,805}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>805</integer>
		</dict>
	</dict>
</plist>