<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
  PUBLIC '-//Apple//DTD PLIST 1.0//EN'
  'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version="1.0">
    <dict>
        <key>animations</key>
        <dict>
            <key>background3</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>backgrounds/background3/00.png</string>
                    <string>backgrounds/background3/01.png</string>
                    <string>backgrounds/background3/02.png</string>
                    <string>backgrounds/background3/03.png</string>
                    <string>backgrounds/background3/04.png</string>
                    <string>backgrounds/background3/05.png</string>
                    <string>backgrounds/background3/06.png</string>
                    <string>backgrounds/background3/07.png</string>
                </array>
            </dict>
        </dict>
    </dict>
</plist>