<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resources/Charactors/Charactor_Clark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,0},{109,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,152}</string>
			</dict>
			<key>Resources/Charactors/Charactor_Clark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,0},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
			<key>Resources/Charactors/Charactor_Hinako_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,0},{97,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,133}</string>
			</dict>
			<key>Resources/Charactors/Charactor_Hinako_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,87},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
			<key>Resources/Charactors/Charactor_Iori_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,0},{116,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,144}</string>
			</dict>
			<key>Resources/Charactors/Charactor_Iori_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,97},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
			<key>Resources/Charactors/Charactor_Joe_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{162,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,159}</string>
			</dict>
			<key>Resources/Charactors/Charactor_Joe_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,109},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
			<key>Resources/Charactors/Charactor_Kusana_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,0},{87,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,148}</string>
			</dict>
			<key>Resources/Charactors/Charactor_Kusana_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,116},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
			<key>Resources/Charactors/Charactor_Mai_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{146,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,149}</string>
			</dict>
			<key>Resources/Charactors/Charactor_Mai_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,146},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>charactors.png</string>
			<key>realTextureFileName</key>
			<string>charactors.png</string>
			<key>size</key>
			<string>{999,250}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>999</integer>
			<key>height</key>
			<integer>250</integer>
		</dict>
	</dict>
</plist>