<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Countdown/countdown-frame-00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-01.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,0},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-02.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,0},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,311},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-04.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,311},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-05.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,311},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,622},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-07.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,622},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-08.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,622},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,933},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1244},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,933},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Countdown/countdown-frame-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,933},{311,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>countdown.png</string>
			<key>realTextureFileName</key>
			<string>countdown.png</string>
			<key>size</key>
			<string>{933,1555}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>933</integer>
			<key>height</key>
			<integer>1555</integer>
		</dict>
	</dict>
</plist>