<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>animation_1</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>test/Terry Bogard_0001.png</string>
				<string>test/Terry Bogard_0002.png</string>
				<string>test/Terry Bogard_0003.png</string>
				<string>test/Terry Bogard_0004.png</string>
				<string>test/Terry Bogard_0005.png</string>
				<string>test/Terry Bogard_0006.png</string>
				<string>test/Terry Bogard_0007.png</string>
				<string>test/Terry Bogard_0008.png</string>
				<string>test/Terry Bogard_0009.png</string>
				<string>test/Terry Bogard_0010.png</string>
				<string>test/Terry Bogard_0011.png</string>
				<string>test/Terry Bogard_0012.png</string>
				<string>test/Terry Bogard_0013.png</string>
				<string>test/Terry Bogard_0014.png</string>
				<string>test/Terry Bogard_0015.png</string>
				<string>test/Terry Bogard_0016.png</string>
				<string>test/Terry Bogard_0017.png</string>
				<string>test/Terry Bogard_0018.png</string>
				<string>test/Terry Bogard_0019.png</string>
				<string>test/Terry Bogard_0020.png</string>
				<string>test/Terry Bogard_0021.png</string>
				<string>test/Terry Bogard_0022.png</string>
				<string>test/Terry Bogard_0023.png</string>
				<string>test/Terry Bogard_0024.png</string>
				<string>test/Terry Bogard_0025.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
