<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>character1/die</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/character1/die/00.png</string>
				<string>characters/character1/die/01.png</string>
				<string>characters/character1/die/02.png</string>
				<string>characters/character1/die/03.png</string>
				<string>characters/character1/die/04.png</string>
				<string>characters/character1/die/05.png</string>
				<string>characters/character1/die/06.png</string>
				<string>characters/character1/die/07.png</string>
				<string>characters/character1/die/08.png</string>
				<string>characters/character1/die/09.png</string>
			</array>
		</dict>
		<key>character1/squat</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/character1/squat/00.png</string>
			</array>
		</dict>
		<key>character1/squat_down</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>characters/character1/squat_down/00.png</string>
				<string>characters/character1/squat_down/01.png</string>
			</array>
		</dict>
		<key>character1/squat_hit</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/character1/squat_hit/00.png</string>
				<string>characters/character1/squat_hit/01.png</string>
				<string>characters/character1/squat_hit/02.png</string>
			</array>
		</dict>
		<key>character1/squat_kick1</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/character1/squat_kick1/00.png</string>
				<string>characters/character1/squat_kick1/01.png</string>
				<string>characters/character1/squat_kick1/02.png</string>
			</array>
		</dict>
		<key>character1/squat_kick2</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/character1/squat_kick2/00.png</string>
				<string>characters/character1/squat_kick2/01.png</string>
				<string>characters/character1/squat_kick2/02.png</string>
				<string>characters/character1/squat_kick2/03.png</string>
				<string>characters/character1/squat_kick2/04.png</string>
				<string>characters/character1/squat_kick2/05.png</string>
			</array>
		</dict>
		<key>character1/squat_moveback</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>characters/character1/squat_moveback/02.png</string>
				<string>characters/character1/squat_moveback/03.png</string>
				<string>characters/character1/squat_moveback/04.png</string>
				<string>characters/character1/squat_moveback/05.png</string>
				<string>characters/character1/squat_moveback/06.png</string>
				<string>characters/character1/squat_moveback/07.png</string>
			</array>
		</dict>
		<key>character1/squat_moveforward</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>characters/character1/squat_moveforward/00.png</string>
				<string>characters/character1/squat_moveforward/01.png</string>
				<string>characters/character1/squat_moveforward/02.png</string>
				<string>characters/character1/squat_moveforward/03.png</string>
				<string>characters/character1/squat_moveforward/04.png</string>
				<string>characters/character1/squat_moveforward/05.png</string>
			</array>
		</dict>
		<key>character1/squat_punch1</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/character1/squat_punch1/00.png</string>
				<string>characters/character1/squat_punch1/01.png</string>
				<string>characters/character1/squat_punch1/02.png</string>
				<string>characters/character1/squat_punch1/03.png</string>
			</array>
		</dict>
		<key>character1/squat_punch2</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/character1/squat_punch2/00.png</string>
				<string>characters/character1/squat_punch2/01.png</string>
				<string>characters/character1/squat_punch2/02.png</string>
				<string>characters/character1/squat_punch2/03.png</string>
				<string>characters/character1/squat_punch2/04.png</string>
				<string>characters/character1/squat_punch2/05.png</string>
				<string>characters/character1/squat_punch2/06.png</string>
			</array>
		</dict>
		<key>character1/squat_up</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/character1/squat_up/00.png</string>
				<string>characters/character1/squat_up/01.png</string>
			</array>
		</dict>
		<key>character1/stand</key>
		<dict>
			<key>delay</key>
			<real>0.12</real>
			<key>frames</key>
			<array>
				<string>characters/character1/stand/00.png</string>
				<string>characters/character1/stand/01.png</string>
				<string>characters/character1/stand/02.png</string>
				<string>characters/character1/stand/03.png</string>
				<string>characters/character1/stand/04.png</string>
				<string>characters/character1/stand/05.png</string>
				<string>characters/character1/stand/06.png</string>
				<string>characters/character1/stand/07.png</string>
				<string>characters/character1/stand/08.png</string>
				<string>characters/character1/stand/09.png</string>
			</array>
		</dict>
		<key>character1/stand_hit</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/character1/stand_hit/00.png</string>
				<string>characters/character1/stand_hit/01.png</string>
				<string>characters/character1/stand_hit/02.png</string>
			</array>
		</dict>
		<key>character1/stand_jump</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character1/stand_jump/00.png</string>
				<string>characters/character1/stand_jump/01.png</string>
				<string>characters/character1/stand_jump/02.png</string>
				<string>characters/character1/stand_jump/03.png</string>
				<string>characters/character1/stand_jump/04.png</string>
				<string>characters/character1/stand_jump/05.png</string>
				<string>characters/character1/stand_jump/06.png</string>
				<string>characters/character1/stand_jump/07.png</string>
				<string>characters/character1/stand_jump/08.png</string>
			</array>
		</dict>
		<key>character1/stand_kick1</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character1/stand_kick1/00.png</string>
				<string>characters/character1/stand_kick1/01.png</string>
				<string>characters/character1/stand_kick1/02.png</string>
				<string>characters/character1/stand_kick1/03.png</string>
				<string>characters/character1/stand_kick1/04.png</string>
				<string>characters/character1/stand_kick1/05.png</string>
			</array>
		</dict>
		<key>character1/stand_kick2</key>
		<dict>
			<key>delay</key>
			<real>0.06</real>
			<key>frames</key>
			<array>
				<string>characters/character1/stand_kick2/00.png</string>
				<string>characters/character1/stand_kick2/01.png</string>
				<string>characters/character1/stand_kick2/02.png</string>
				<string>characters/character1/stand_kick2/03.png</string>
				<string>characters/character1/stand_kick2/04.png</string>
				<string>characters/character1/stand_kick2/05.png</string>
				<string>characters/character1/stand_kick2/06.png</string>
				<string>characters/character1/stand_kick2/07.png</string>
				<string>characters/character1/stand_kick2/08.png</string>
				<string>characters/character1/stand_kick2/09.png</string>
				<string>characters/character1/stand_kick2/10.png</string>
				<string>characters/character1/stand_kick2/11.png</string>
			</array>
		</dict>
		<key>character1/stand_moveback</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character1/stand_moveback/00.png</string>
				<string>characters/character1/stand_moveback/01.png</string>
				<string>characters/character1/stand_moveback/02.png</string>
				<string>characters/character1/stand_moveback/03.png</string>
				<string>characters/character1/stand_moveback/04.png</string>
				<string>characters/character1/stand_moveback/05.png</string>
				<string>characters/character1/stand_moveback/06.png</string>
			</array>
		</dict>
		<key>character1/stand_moveforward</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character1/stand_moveforward/00.png</string>
				<string>characters/character1/stand_moveforward/01.png</string>
				<string>characters/character1/stand_moveforward/02.png</string>
				<string>characters/character1/stand_moveforward/03.png</string>
				<string>characters/character1/stand_moveforward/04.png</string>
				<string>characters/character1/stand_moveforward/05.png</string>
				<string>characters/character1/stand_moveforward/06.png</string>
			</array>
		</dict>
		<key>character1/stand_punch1</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character1/stand_punch1/00.png</string>
				<string>characters/character1/stand_punch1/01.png</string>
				<string>characters/character1/stand_punch1/02.png</string>
				<string>characters/character1/stand_punch1/03.png</string>
				<string>characters/character1/stand_punch1/04.png</string>
				<string>characters/character1/stand_punch1/05.png</string>
				<string>characters/character1/stand_punch1/06.png</string>
			</array>
		</dict>
		<key>character1/stand_punch2</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/character1/stand_punch2/00.png</string>
				<string>characters/character1/stand_punch2/01.png</string>
				<string>characters/character1/stand_punch2/02.png</string>
				<string>characters/character1/stand_punch2/03.png</string>
				<string>characters/character1/stand_punch2/04.png</string>
				<string>characters/character1/stand_punch2/05.png</string>
				<string>characters/character1/stand_punch2/06.png</string>
				<string>characters/character1/stand_punch2/07.png</string>
			</array>
		</dict>
		<key>character1/start</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/character1/start/00.png</string>
				<string>characters/character1/start/01.png</string>
				<string>characters/character1/start/02.png</string>
				<string>characters/character1/start/03.png</string>
				<string>characters/character1/start/04.png</string>
				<string>characters/character1/start/05.png</string>
				<string>characters/character1/start/06.png</string>
				<string>characters/character1/start/07.png</string>
				<string>characters/character1/start/08.png</string>
				<string>characters/character1/start/09.png</string>
				<string>characters/character1/start/10.png</string>
				<string>characters/character1/start/11.png</string>
				<string>characters/character1/start/12.png</string>
				<string>characters/character1/start/13.png</string>
				<string>characters/character1/start/14.png</string>
				<string>characters/character1/start/15.png</string>
				<string>characters/character1/start/16.png</string>
				<string>characters/character1/start/17.png</string>
			</array>
		</dict>
		<key>character1/win</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/character1/win/00.png</string>
				<string>characters/character1/win/01.png</string>
				<string>characters/character1/win/02.png</string>
				<string>characters/character1/win/03.png</string>
				<string>characters/character1/win/04.png</string>
				<string>characters/character1/win/05.png</string>
				<string>characters/character1/win/06.png</string>
				<string>characters/character1/win/07.png</string>
				<string>characters/character1/win/08.png</string>
				<string>characters/character1/win/09.png</string>
				<string>characters/character1/win/10.png</string>
				<string>characters/character1/win/11.png</string>
				<string>characters/character1/win/12.png</string>
				<string>characters/character1/win/13.png</string>
				<string>characters/character1/win/14.png</string>
				<string>characters/character1/win/15.png</string>
				<string>characters/character1/win/16.png</string>
				<string>characters/character1/win/17.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
