<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>characters/character6/icon_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,268},{146,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,149}</string>
			</dict>
			<key>characters/character6/icon_game_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,0},{167,134}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character6/icon_game_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,0},{167,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character6/icon_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,268},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
			<key>characters/character5/icon_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,268},{87,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,148}</string>
			</dict>
			<key>characters/character5/icon_game_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,0},{167,134}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character5/icon_game_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,134},{167,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character5/icon_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,355},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
			<key>characters/character4/icon_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{162,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,159}</string>
			</dict>
			<key>characters/character4/icon_game_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,134},{168,132}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character4/icon_game_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,266},{168,132}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character4/icon_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,365},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
			<key>characters/character3/icon_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,326},{116,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,144}</string>
			</dict>
			<key>characters/character3/icon_game_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,159},{167,134}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character3/icon_game_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,134},{167,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character3/icon_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,377},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
			<key>characters/character2/icon_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,268},{97,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,133}</string>
			</dict>
			<key>characters/character2/icon_game_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,134},{167,134}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character2/icon_game_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,134},{167,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character2/icon_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,372},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
			<key>characters/character1/icon_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,268},{109,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,152}</string>
			</dict>
			<key>characters/character1/icon_game_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{168,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character1/icon_game_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,0},{168,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,134}</string>
			</dict>
			<key>characters/character1/icon_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,459},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,111}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sprite.png</string>
			<key>realTextureFileName</key>
			<string>sprite.png</string>
			<key>size</key>
			<string>{999,563}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>999</integer>
			<key>height</key>
			<integer>563</integer>
		</dict>
	</dict>
</plist>